body {
    margin-right: 2%;
    margin-left: 2%;
    padding-right:30px;
    background-color:rgb(216, 216, 216);
}

main {
    background-color: rgb(216, 216, 216);
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
}

 /* .column {
    height: 100%;
    display:flex;
    flex-direction: column;
}  */

header {
    background-color: #0a3b53;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: #fff;
    padding-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}


.zadra {
    text-indent: 110px;
    background-color: #888888;
    margin-right: 100px;
    width:13em;
}

a {
    color:white;

}

/* fits images to container */
 img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit:cover;
} 

 .subimage {
   width: 100%;
   height: 300px;
   display: block;
   position: relative;
   overflow: hidden;
}

.subimage img  {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
} 

/* Main grid attributes */
.grid {
    height:100em;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr 150px;
    grid-gap:30px
  }

.aboutmeleft {
    border-right: 5px solid black;
    font-size: 50px;
    font-weight: bolder;
}

.aboutmemain {
    grid-column-start: 2;
    grid-column-end: 5;

}

.work {
    border-right: 5px solid black;
    font-size: 50px;
    font-weight: bolder;
}

.contactbar {
    grid-column-start: 2;
    grid-column-end: 5;

}

/* Container for big image */
.bigimagebox {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: -15px;
}

/* container to hold grid for smaller images */
.smallimages {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

/* nested grid for smaller images */
 .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%; 
    grid-gap: 15px;
} 



.contactbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    color: rgb(0, 0, 0);
    padding-left: 0px; 
    list-style: none;
    
}

.textcolor{
    color:black;
}

footer {
    padding-top: 40px;
}

.smallimage {
    border: 5px solid black;
}

.bigimagebox {
    border: 5px solid black;
}

/* .grid img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
    }
.grid img:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
    } */

  .grid img:hover  {
    box-shadow: 0 5px 15px rgba(0,0,0,10);
  }